.topHeader{
    background-color: rgb(84, 85, 87);
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 10px;
}
.logo img{
    height: 60px;
    width: 70px;
    margin-left: 15%;
}
.icons{
    margin-left: 50%;
}
.icons img{
    width: 25px;
    height: 15px;
    margin: 20px 5px 0 5px;
}
.headerBtns{
    display: flex;
    background-color: red;
    justify-content: center;
}
.headerBtns div{
    margin: 12px 35px 12px 15px;
}

a{
    text-decoration: none;
    color: antiquewhite;
}