.allprod{
	display: flex;
	 justify-content: space-around;
	 flex-wrap: wrap;
}

.product{
	position: relative;
	margin: 20px;
	width: 340px;
	height: 440px;
	background: rgb(209, 204, 204);
	box-shadow: 0 5px 15px rgba(0,0,0,0.25);
	border-radius: 5px;
}
.product .imgbox{
	height: 100%;
	box-sizing: border-box;
}
.product .imgbox img{
	display: block;
	width: 90%;
	margin: 20px auto 0;
	min-height: 250px;
	object-fit: cover;
}
.details{
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: 1s;
}
.product:hover .details
{
	bottom: 0;
	box-shadow: 0 -5px 15px rgba(0,0,0,0.5);
}
.details h2
{
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;
}
.details h2 span
{
	font-size: 12px;
	color: rgb(119, 113, 113);
	font-weight: normal;
}
.details a{
	display: block;
	padding: 5px;
	color: #fff;
	margin: 15px 0 0;
	background-color: red;
	text-align: center;
	text-decoration: none;
	transform: 0.3s;
	cursor: pointer;
}
.details a:hover{
	background-color: red;
}